/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .--open-sans-font-loaded {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

}
