{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [ "module-resolver", {
      "root": [ "." ],
      "alias": {
        "@components": "./components",
        "@lib": "./lib",
        "@services": "./services",
      },
    }],
    [ "babel-plugin-transform-typescript-metadata" ],
    [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
    [ "@babel/plugin-proposal-class-properties", { "loose": true } ],
    [ "add-react-displayname" ],
    [ "styled-components", { "ssr": true } ],
    [ "import", {
        "libraryName": "antd",
        "style": true
      },
    ],
  ]
}
